<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.bananas.hmm"
    versionCode = "4"
    version     = "cinquenta cinquenta" >

<!-- versionCode is optional and Android only -->

  <name>Apanha as Bananas!</name>

  <description>
      Não toques nas bananas vermelhas!!
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      VenemonTV
  </author>

  <icon src="icon.png" />
  <preference name="Orientation" value="landscape" />
</widget>
